@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: whitesmoke;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #2A2A2D;
  font-size: 18px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
}

.list-container a {
  font-size: 22px;
  transition: font-size 0.2s, font-weight 0.2s, color 0.2s;
  padding-right: 40px;
}

.list-container a:hover {
  font-size: 1.8em;
  font-weight: 600;
  color: rgb(223, 18, 114);
}

.header {
  position: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-container .icons {
  padding-left: 5px;
  font-size: 0.8em;
}

.icons-item {
  padding-bottom: 20px;
}

i {
  transition: color 0.2s;
}

i:hover {
  color: rgb(223, 18, 114);
}

.footer .copyright {
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  margin: 5px auto;
}

.copyright p {
  font-size: 0.8em;
  opacity: 0.4;
}

