.header {
  display: flex;
  justify-content: center;
}

.header .banner {
  width: 1200px;
  height: 700px;
  background-image: url("../images/img-mission-background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  top: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner-text {
  text-align: center;
  line-height: 2em;
  font-weight: bold;
  background-color: black;
  width: 1200px;
}

.banner-text h2 {
  font-size: 1.2em;
}

.banner-text h4 {
  font-size: 0.8em;
}

