body {
  height: 300vh;
}
.nav {
  height: 53px;
  width: 100vw;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.15);
}

/* logo */
.logo-container a {
  display: flex;
  align-items: center;
}

.logo-wrapper img {
  height: 28px;
  width: auto;
  padding-left: 12px;
  border-left: 1px solid rgba(0, 0, 0, 0.8);
}
.logo-wrapper i {
  position: relative;
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.9);
  padding-right: 13px;
}

/* search */
.search-container {
  position: relative;
  left: 25px;
}
.search-container .search-input {
  width: 215px;
  height: 28px;
  background-color: #FAFAFA;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 0 25px;
  outline: none;
}
.search-container .search-placeholder {
  position: absolute;
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9em;
  top: 6.5px;
  left: 95px;
}
.search-container .fa-search {
  position: absolute;
  top: 9px;
  left: 80px;
  font-size: 0.65em;
  color: rgba(0, 0, 0, 0.4);
}
.search-container .fa-times-circle {
  position: absolute;
  top: 7px;
  right: 8px;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: none;
}

/* nav icons */
.nav-icons-container {
  display: flex;
  padding-right: 15px;
}
.nav-icons-container div {
  margin-left: 25px;
}
.nav-icons-container .home-icon{
  margin-right: 0;
}
.nav-icons-container i {
  font-size: 1.4em;
  cursor: pointer;
}
.user-profile img{
  height: 25px;
  width: auto;
  border-radius: 50%;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}


@media only screen and (max-width: 560px) {
  .nav {
    padding: 0 5vw;
  }
  .search-container {
    display: none;
  }
}

@media only screen and (min-width: 1040px) {
  .nav {
    padding: 0 19vw;
  }
}